Data/intrinsics-fixtures/ipad-a16/ipad-a16_1/ipad-a16_1.mov filter=lfs diff=lfs merge=lfs -text
Data/intrinsics-fixtures/ipad-a16/ipad-a16_2/ipad-a16_2.mov filter=lfs diff=lfs merge=lfs -text
Data/intrinsics-fixtures/ipad-a16/ipad-a16_3/ipad-a16_3.mov filter=lfs diff=lfs merge=lfs -text